body>main img{
    display: block;
    margin: 0 auto;
}
.image {
    position: absolute;
    top: 10px;
    width: 30%;
    left: 10px;
}
body.different{
    margin-top: 110px;
}
body>header{
    background-color: #141975;
}
body.different{
    background-color: #141975;
    color: white;
}
body>main{
    background-color: #0B0E40;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}
body>footer, body.different>footer, body.accueil>footer{
    position: relative;
}
body>footer>img, body.different>footer>img, body.accueil>footer>img{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
body.accueil p.bouton{
    text-decoration: none;
    background-color: #29B9D9;
    width: 15rem;
    height: 0;
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 3.2rem;
    padding-top: 1rem;
}
body.accueil p.bouton>a{
    color: white;
}