body>main img{
    display: block;
    margin: 0 auto;
}
.image {
    position: absolute;
    top: 10px;
    width: 30%;
    left: 10px;
}
body.different{
    margin-top: 110px;
}
body>header{
    background-color: #141975;
}
body.different{
    background-color: #141975;
    color: white;
}
body>main{
    background-color: #0B0E40;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}