@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

body>footer{
    background-color: black;
}
body>footer p{
    color: white;
}
body>footer>p>a{
    color: #FFE645;
    text-decoration: none;
}
.container {
    display: inline-block;
    position: relative;
}
.container .text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}
.jaune{
    color: #FFE645;
    display: inline;
}
.gras{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}
h1{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
body h1{
    margin-bottom: 0;
    padding-bottom: 3rem;
}
h2{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 3rem;
    text-align: center;
}
h3{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    background-color: #111666;
    margin: 22px -30px;
    height: 4rem;
    padding-top: 1.5rem;
}
body.accueil>header.accueil>.container>.text>h3{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    background-color: transparent;
    margin: 0;
    padding-bottom: 1.5rem;
    height: auto;
}
h3.different{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    background-color: #111666;
    margin: 22px -30px;
    height: 6rem;
    padding-top: 1rem;
    padding-left: 22px;
    padding-right: 22px;
}
h3.sans-fond{
    background-color:#0b0e40;
}
p.chapeau{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;
    padding-left: 22px;
    padding-right: 22px;
}
body.different>h2{
    background-color: #0b0e40;
    border-radius: 1rem;
    width: 50%;
    margin: 0 AUTO;
    padding: 1rem;
}
body p{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.8rem;
}
body.accueil>main p:first-of-type{
    margin-top: 0;
    padding-top: 1rem;
}
body p:last-of-type,.galerie,body.accueil ul,body.accueil>main>div:last-of-type, body.different p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 3rem;
}
body.accueil>main>div:last-of-type>p.bouton:last-of-type{
    margin-bottom: 0;
}
body>footer p{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
    text-justify: none;
}
body>footer p:first-of-type, body.different>footer p:first-of-type{
    margin-top: 0;
    padding-top: 1rem;
}
body a{
    text-decoration: none;
}
body.different>p>a{
    color: white;
    font-weight: bold;
}
.autres-projets>ul li{
    font-family: "Roboto Light",sans-serif;
    font-size: 2rem;
    list-style: none;
    margin-top: 2rem;
}
.autres-projets>ul li.jaune{
    font-family: "Roboto Medium",sans-serif;
    font-size: 2rem;
}
.figure p{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #CFCFCF;
}
figcaption{
    text-align: center;
    font-size: 1.2rem;
    color: #CFCFCF;
    font-family: "Roboto Light", sans-serif;
}
.formulaire-contact>p.nom {
    text-decoration: none;
    background-color: aliceblue;
    width: 7rem;
    height: 0;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    text-align: center;
    padding-bottom: 3.2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    color: #0b0e40;
}
.formulaire-contact>p.prenom {
    text-decoration: none;
    background-color: aliceblue;
    width: 7rem;
    height: 0;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    text-align: center;
    padding-bottom: 3.2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    color: #0b0e40;
}
.formulaire-contact>p.mail {
    text-decoration: none;
    background-color: aliceblue;
    width: 23rem;
    height: 0;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    text-align: center;
    padding-bottom: 3.2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    color: #0b0e40;
}
.formulaire-contact>p.message {
    text-decoration: none;
    background-color: aliceblue;
    width: 26rem;
    height: 150px;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
    text-align: center;
    padding-bottom: 0;
    padding-top: 10rem;
    border-radius: 1rem;
    color: #0b0e40;
}
.formulaire-contact>p.envoyer {
    text-decoration: none;
    background-color: aliceblue;
    width: 7rem;
    height: 0;
    margin-left: 20.5rem;
    text-align: center;
    padding-bottom: 3.2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    color: #0b0e40;
}
.formulaire-contact{
    background-color: #1151A5;
    margin: 0 10px 30px 10px;
    padding: 2rem 0;
    border-radius: 2rem;
}
.formulaire-contact>p:first-of-type{
    font-family: "Roboto Medium", sans-serif;
    text-align: center;
    font-size: 2.2rem;
    border: 2px solid #FFE645;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    line-height: 5rem;
}
body>footer .contact, body.accueil>footer.different .contact, body.different>footer .contact{
    padding-left: 1rem;
}
body>footer p, body.accueil>footer.different p, body.different>footer p{
    padding: 0 1.5rem;
}
body>footer .contact>a:first-of-type, body.accueil>footer.different .contact>a:first-of-type, body.different>footer .contact>a:first-of-type{
    padding-right: 1rem;
}
.galerie>h2{
    border-top: 3px solid #FFE645;
    padding-top: 1rem;
    margin-left: -30px;
    margin-right: -30px;
}