@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body>footer{
    background-color: black;
}
body>footer p{
    color: white;
}
body>footer>p>a{
    color: #FFE645;
    text-decoration: none;
}
.container {
    display: inline-block;
    position: relative;
}
.container .text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}
.jaune{
    color: #FFE645;
    display: inline;
}
h1{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
h2{
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 3rem;
    text-align: center;
}
h3{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2.2rem;
    text-align: center;
}
p.chapeau{
    font-family: "Roboto Medium", sans-serif;
    font-size: 2rem;
    text-align: center;
}
body p{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.8rem;
}
body>footer p{
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
    text-justify: none;
}
body a{
    text-decoration: none;
}
.autres-projets>ul li{
    font-family: "Roboto Light",sans-serif;
    font-size: 2rem;
    list-style: none;
    margin-top: 2rem;
}
.autres-projets>ul li.jaune{
    font-family: "Roboto Medium",sans-serif;
    font-size: 2rem;
}
.figure p{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #CFCFCF;
}